<ul>
  <li *ngFor="let video of videos"
      (click)="onVideoClicked(video)"
      [class.selected]="video.id === selectedVideo?.id">
    <app-video-display [video]="video"></app-video-display>
  </li>
</ul>
