<form [formGroup]="group">
  <label *ngFor="let r of regions">
  <input type="radio"
         [value]="r"
         formControlName="region">
    {{ r }}
  </label>
</form>


<pre>{{group.valueChanges | async | json}}</pre>
